basePath: /
definitions:
  api.UpdateSensor:
    properties:
      meshID:
        type: string
    type: object
  model.Data:
    properties:
      date:
        type: string
      id:
        type: integer
      sensorID:
        type: integer
      value:
        type: number
    type: object
  model.RoomModel:
    properties:
      description:
        type: string
      id:
        type: integer
      imageUrl:
        type: string
      name:
        type: string
      sensors:
        items:
          $ref: '#/definitions/model.Sensor'
        type: array
      url:
        type: string
    type: object
  model.Sensor:
    properties:
      data:
        items:
          $ref: '#/definitions/model.Data'
        type: array
      description:
        type: string
      id:
        type: integer
      measurementUnit:
        type: string
      meshID:
        type: string
      name:
        type: string
      roomModelID:
        type: integer
    type: object
host: visense.f4.htw-berlin.de:8080
info:
  contact: {}
  description: This API provides information about 3D room models with associated
    sensors and their data.
  license: {}
  title: vi-sense BIM API
  version: 0.1.3
paths:
  /models:
    get:
      description: Query all available room models.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.RoomModel'
            type: array
        "400":
          description: bad request
          schema:
            type: string
        "500":
          description: internal server error
          schema:
            type: string
      summary: Query models
      tags:
      - models
  /models/{id}:
    get:
      description: Query a single room model by id with containing sensors.
      parameters:
      - description: RoomModelID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.RoomModel'
        "400":
          description: bad request
          schema:
            type: string
        "404":
          description: not found
          schema:
            type: string
        "500":
          description: internal server error
          schema:
            type: string
      summary: Query room model
      tags:
      - models
  /sensors:
    get:
      description: Query all available sensors.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Sensor'
            type: array
        "400":
          description: bad request
          schema:
            type: string
        "500":
          description: internal server error
          schema:
            type: string
      summary: Query sensors
      tags:
      - sensors
  /sensors/{id}:
    get:
      description: Query a single sensor by id with containing sensor data.
      parameters:
      - description: SensorId
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Sensor'
        "400":
          description: bad request
          schema:
            type: string
        "404":
          description: not found
          schema:
            type: string
        "500":
          description: internal server error
          schema:
            type: string
      summary: Query sensor
      tags:
      - sensors
    patch:
      consumes:
      - application/json
      description: Updates the mesh id of a single sensor.
      parameters:
      - description: SensorId
        in: path
        name: id
        required: true
        type: integer
      - description: Update sensor
        in: body
        name: sensor
        required: true
        schema:
          $ref: '#/definitions/api.UpdateSensor'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Sensor'
        "400":
          description: bad request
          schema:
            type: string
        "500":
          description: internal server error
          schema:
            type: string
      summary: Update sensor location
      tags:
      - sensors
schemes:
- http
swagger: "2.0"
